*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.padding__top{
    padding-top: 115px;
}

.color{
    color: #636363;
}

/* start header */
header{
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 100%;
    z-index: 10;
}

.container{
    max-width: 1199px;
    margin: auto;
}

.header__content{
    width: 100%;
    align-items: center;
    display: flex;
    margin: auto;
    justify-content: space-between;
    justify-items: center;
}

.header__content img{
    padding-top: 35px;
}

.header__content nav ul{
    list-style: none;    
}

nav{
    display: flex;
    align-items: center;
    margin-top: 35px;
}

nav ul{
    display: flex;
    margin-right: 30px;
}

.header__content ul a{
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    /* viết viếthoa chữ cái đầu */
    text-transform: capitalize;
    transition: all .5s;
    padding: 0px 15px;
}

.header__content ul li{
    display: inline;
}

ul li a:hover{
    color: #f55f8d;
}

a:hover span {
    animation: upToDown 0.3s;
}

.header__content span{
    display: inline-block;
    
}

.header__content i{
    vertical-align: middle;
    margin-top: -3px;
    font-size: 9px;
}

.gradient{
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient( to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    line-height: 1.2;
}

.gradient:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
/* end header */
/* start carousel */
.carousel{
    background: url(./img/Samar/pic2.png);
    padding-top: 180px;
    overflow: hidden;
    background-position: top;
    background-size: 100%;
}

.carousel__content{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.title p{
    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.title h2{
    font-weight: 800;
    line-height: 1.1;
    color: #262626;
    font-size: 70px;
    margin-bottom: 23px;
}

.carousel__content .content p{
    font-size: 18px;
    color: #636363;
    margin-bottom: 15px;
}

.carousel__content ul li{
    list-style: none;
    color: #636363;
    font-size: 20px;
    padding: 10px 5px 10px 0px;
}

.carousel__content .content i {
    background-image: linear-gradient( to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
}

.content button{
    margin-top: 20px;
}

.carousel__right{
    width: 40%;
}

.carousel__img{
    margin-left: 50px;
}

.carousel__img img{
    display: block;
}

/* end carousel */
/* start services */
.sevicer{
    background-image: url(./img/Samar/bg2.png);
    text-align: center;
    background-size: cover;
    background-position: top center;
}

.services__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
}

.services__item{
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgba(0,0,0,.1);
    padding: 30px 45px;
    transform: translateY(0);
    transition: all .5s;
}

.services__item:hover{
    transform: translateY(-20px);
}

.services__item img{
    width: 215px;
}

.services__item h3{
    font-weight: 700;
    font-size: 24px;
    color: #262626;
    margin: 15px 0;
}

.services__item p{
    color: #636363;
    line-height: 1.6;
}
/* end services */
/* start about us */
.about__us{
    background-image: url(./img/Samar/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
}

.about__us__content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.about__us__left{
    position: absolute;
    width: 57%;
    left: -160px;
}

.about__us__left img{
    width: 100%;
    border-radius: 0px 100px 100px 0px;
}

.about__us__right{
    width: 50%;
}

.about__us__right ul li{
    list-style: none;
    color: #636363;
    margin-bottom: 15px;
}

.about__us__right .content p{
    color: #636363;
    margin-bottom: 15px;
}

.about__us__right i {
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}
/* end about us */
/* start number */
.number{
    background-image: url(./img/Samar/bg14.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0px 50px;
    text-align: center;
}

.number__content{
    display: flex;
    justify-content: space-around;
}

.number__item{
    width: 25%;
}

.number__item i{
    font-size: 45px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}

.number__item p:first-of-type {
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}

.number__item p:last-of-type {
    color: #262626;
    font-size: 18px;
}

/* end number */
/* start features */
.features{
    background-image: url(./img/Samar/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
}

.features__left , .features__right{
    width: 50%;
}

.features__content{
    display: flex;
}

.features__list{
    padding: 0px 50px 30px 0px;
}

.features__list i{
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
}

.features__list div {
    padding-left: 25px;
    line-height: 1.6;
    z-index: 1;
    transition: all 1s;
}

.features__list h3{
    font-size: 24px;
    font-weight: 800;
    color: #262626;
    transition: all 1s;
}

.features__list p{
    color: #636363;
    transition: all 1s;
}

.features__list:nth-of-type(2){
    padding: 0 0 30px 50px;
}

.features__bg{
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: #fff;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.features__bg::after{
    content: "";
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
}

.features__bg:hover::after{
    opacity: 1;  
}

.features__bg:hover p , .features__bg:hover h3 , .features__bg:hover i {
    color: #fff;
}

.features__banner{
    margin-right: -80px;
}

.features__banner img{
    max-width: 100%;
    animation: move2 5s infinite
}
/* end fedtures */
/* start portfolio */
.portfolio{
    background-image: url(../img/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center
}

.portfolio__content{
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;
}

.portfolio__item{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.portfolio__item::before{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    transition: all .75s
}

.portfolio__item:hover::before{
    left: 125%
}

.portfolio__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    transition: all .75s
}

.portfolio__item:hover .portfolio__overlay{
    opacity: 1
}

.portfolio__icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px,-20px);
    transition: all .75s
}

.portfolio__item:hover .portfolio__icon{
    transform: translate(0)
}

.portfolio__icon a{
    cursor: pointer
}

.portfolio__icon i{
    color: white;
}

.portfolio__text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all .75s
}

.portfolio__item:hover .portfolio__text{
    transform: translateY(0)
}

.portfolio__text h3{
    font-size: 22px;
    font-weight: 800;
    color: #fff
}

.portfolio__text p{
    color: #fff;
    opacity: .7
}

.portfolio__item img{
    width: 100%;
    height: 100%
}

.portfolio__item-1{
    grid-column: 1 / 3;
}

.portfolio__item-5{
    grid-column: 1 / 3;
}

.portfolio__item-6{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

/* end portfolio */
/* start plan */
.plan{
    background-image: url(./img/Samar/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.plan__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    gap: 30px;
}


.plan__item{
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgba(0,0,0,.1);
    border-image: 100 round;
    transition: all .5s;
}

.plan__item:hover{
    border-image: url(./img/Samar/br.png) 1 round;
}

.plan__item h3{
    font-size: 30px;
}

.plan__item img{
    width: 125px;
}

.plan__item li , .plan__item p{
    font-size: 18px;
    color: #262626;
    font-weight: 600;
}

.plan__item p{
    border-bottom: 1px solid #e1e1f0;
    padding: 15px 0px;
}

.plan__item p span{
    font-size: 50px;
    font-weight: 800;
    color: #f8ae56;
}

.plan__item ul{
    list-style: none;
    text-align: left;
    padding: 15px 0px;
}

.plan__item ul li{
    font-weight: 400;
    line-height: 40px;
}

.plan__item i{
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 100%;
    margin-right: 15px;
}
/* end plan */
/* start testimonial */
.testimonial {
    text-align: center;
    background-image: url(./img/Samar/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat
}

.testimonial__content{
    min-height: 300px;
}
  
.testimonial-thumbs .testimonial-pic img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}
  
.testimonial-thumbs{
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden
}

.testimonial-thumbs::before{
    left: 0;
    background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%)
}

.testimonial-thumbs::after{
    right: 0;
    background: linear-gradient(to left,#fff 0,rgba(255,255,255,0) 100%)
}

.testimonial-pic .shape-bx{
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d
}

.swiper-slide-thumb-active .testimonial-pic .shape-bx {
    opacity: 1
}

.testimonial-pic .shape-bx::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(./img/Samar/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s
}

.testimonial-pic::after,.testimonial-pic::before {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0
}

.testimonial-pic::before {
    height: 15px;
    width: 15px;
    bottom: 30px
}

.testimonial-pic::after {
    height: 10px;
    width: 10px;
    bottom: 0
}

.swiper-slide-thumb-active .testimonial-pic::after,.swiper-slide-thumb-active .testimonial-pic::before {
    opacity: 1
}

.testimonial-comment {
    min-height: 300px;
    width: 100%;
    overflow: hidden
}

.testimonial-comment .swiper-wrapper {
    padding-bottom: 20px
}

.testimonial-thumbs .testimonial-pic {
    /* padding:30px 0 0; */
    transition: all .5s;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    /* padding:0 0 40px; */
}

.testimonial__comment{
    min-height: 300px;
    width: 100%;
  }
.testimonial__comment .swiper-wrapper{
    padding-bottom: 20px;
  }
.testimonial-thumbs .testimonial-pic{
    padding: 30px 0 0;
    transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic{
    padding: 0 0 40px;
}

.testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    position: relative
}

.testimonial-text i {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}

.testimonial-text .testimonial-name{
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}

.testimonial-text .testimonial-position{
    font-size: 18px;
    color: #f55f8d;
    margin-bottom: 43px;
    padding: 0;
}

.testimonial-text p{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
    color: #636363;
    line-height: 27px;
}

.testimonial__comment{
    min-height: 300px;
    width: 100%;
  }
.testimonial__comment .swiper-wrapper{
    padding-bottom: 20px;
  }
.testimonial-thumbs .testimonial-pic{
    padding: 30px 0 0;
    transition: all 0.5s;
  }
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic{
    padding: 0 0 40px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0var(--swiper-pagination-bullet-horizontal-gap,4px);
    display: none;
}




  

/* start blog */
.blog {
    background-image: url(./img/Samar/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px
}

.owl__carousel{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    cursor: pointer;
}

.item {
    text-align: left;
    background: rgba(245,95,141,.1);
    border-radius: 8px
}

.blog__header {
    position: relative
}

.blog__header img {
    width: 100%;
    border-radius: 8px
}

.blog__header p {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px
}

.blog__body{
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px
}

.blog__body h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626
}

.blog__body p{
    color: #636363;
}

.blog__footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,.05)
}

.blog__footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub
}

.blog__footer p:first-of-type {
    margin-right: 20px
}

.blog__footer p:first-of-type span {
    color: #f55f8d
}
/* end blog */
/* start footer */
footer{
    background-image: url(./img/Samar/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
    margin-top: 50px;
}

footer::before{
    content: "";
    background-image: url(./img/Samar/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer__top{
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    background-image: url(./img/Samar/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}

.footer__text , .footer__from{
    width: 50%;
}

.footer__text h2{
    color: #262626;
    font-size: 30px;
}

.footer__form form{
    display: flex;
    border-radius: .5rem;
    box-shadow: 0 0 60px 0 rgb(0,0,0,.1)
}

.footer__form input{
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: .5rem 0 0 .5rem;
    border: 1px solid #fff;
    outline: 0;
    transition: all .5s;
    width: 455px;
}

.footer__form button{
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 .5rem .5rem 0;
    color: #fff;
    cursor: pointer;
}

.footer__form input:focus,.footer__form input:hover {
    border-color: #f55f8d
}

.footer__form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 .5rem .5rem 0;
    color: #fff;
    cursor: pointer;
}

.footer__contact li {
    padding: 8px 0;
    display: flex;
    align-items: center
}

.footer__contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50px
}

.footer__form button:hover {
    background-position: right center
}

.footer__form button:hover i {
    animation: toLeftFromRight .5s forwards;
    display: inline-block
}

.footer__bottom {
    display: flex;
    padding: 60px 0;
    position: relative
}

.footer__item {
    width: 25%
}

.footer__item img{
    margin-bottom: 5px;
}

.footer__item ul li span{
    line-height: 23px;
}

.footer__item h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 17px;
    margin-bottom: 30px;
    position: relative;
    color: #fff
}

.footer__item h3::after,.footer__item h3::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%
}

.footer__item h3::before{
    width: 15px
}

.footer__item h3::after{
    width: 45px;
    left: 20px
}

.footer__item ul li{
    list-style: none;
}

.footer__item ul li a{
    text-decoration: none;
}

.footer__item li{
    padding: .5rem 0 20px 0px;
}

.footer__item a{
    color: #636363;
    font-size: 16px;
    transition: all .5s
}

.footer__item i{
    font-weight: 700;
    margin-right: 10px
}

.footer__item a:hover{
    color: #fff
}

.footer__copyright{
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}

.footer__content{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.footer__copyright .footer__left span{
    color: #f55f8d;
}

.footer__copyright a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255,255,255,.1);
    transition: all .5s;
}

.footer__copyright a:hover{
    background-color: #f55f8d;
}
/* end footer */
/* start back_to_top */
.backToTop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1
}
  
.back_to_top a{
    text-decoration: none;
    color: white;
}
/* end back_to_top */








@keyframes upToDown{
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
}

@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px,2px)
    }

    50% {
        transform: rotate(-1deg) translate(-2px,-2px)
    }

    100% {
        transform: rotate(1deg) translate(2px,2px)
    }
}

  